[submodule "dependencies/CDO-Shapes-ORG"]
	path = dependencies/CDO-Shapes-ORG
	url = https://github.com/Cyber-Domain-Ontology/CDO-Shapes-ORG.git
	branch = main
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
